@* @model IEnumerable<LeitorNfe.Models.NotaFiscal> *@
@model LeitorNfe.Models.FilterViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Nota Fiscal</h1>

<div class="row col-sm-10">
    <form asp-action="Index" method="get">
        <label class="col-sm-1" >Data: </label>
        <input class="col-sm-2" type="date" asp-for="SearchDate" />
        <label class="col-sm-2" >Número de Nota: </label>
        <input class="col-sm-1" type="text" asp-for="SearchNum" />
        <label class="col-sm-1" >Emitente: </label>
        <input class="col-sm-1" type="text" asp-for="SearchEmit" />
        <label class="col-sm-1" >Destinatário: </label>
        <input class="col-sm-1" type="text" asp-for="SearchDest" />
        <input class="btn btn-secondary" type="submit" value="Filtrar" />
    </form>
</div>

<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar NFe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotasFiscais.First().NumNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotasFiscais.First().DataEmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotasFiscais.First().Emitente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotasFiscais.First().Destinatario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NotasFiscais) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emitente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinatario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
